<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lndroid.wallet">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="${AppName}"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".init.CreateRootActivity" />
        <activity android:name=".init.GenSeedActivity" />
        <activity android:name=".init.InitActivity" />
        <activity android:name=".UnlockActivity" />
        <activity
            android:name=".AddContactActivity"
            android:parentActivityName=".ListContactsActivity" />
        <activity
            android:name=".ConnectPeerActivity"
            android:parentActivityName=".ListPeersActivity" />
        <activity
            android:name=".SendCoinsActivity"
            android:parentActivityName=".ListTransactionsActivity" />
        <activity
            android:name=".OpenChannelActivity"
            android:parentActivityName=".ListChannelsActivity" />
        <activity
            android:name=".NewAddressActivity"
            android:parentActivityName=".ListTransactionsActivity" />
        <activity
            android:name=".SendPaymentActivity"
            android:parentActivityName=".ListPaymentsActivity" />
        <activity
            android:name=".AddInvoiceActivity"
            android:parentActivityName=".ListInvoicesActivity" />
        <activity
            android:name=".GetWalletInfoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GetAppActivity"
            android:parentActivityName=".ListAppsActivity" />
        <activity
            android:name=".GetContactActivity"
            android:parentActivityName=".ListContactsActivity" />
        <activity
            android:name=".GetUtxoActivity"
            android:parentActivityName=".ListUtxoActivity" />
        <activity
            android:name=".GetTransactionActivity"
            android:parentActivityName=".ListTransactionsActivity" />
        <activity
            android:name=".GetChannelActivity"
            android:parentActivityName=".ListChannelsActivity" />
        <activity
            android:name=".GetPeerActivity"
            android:parentActivityName=".ListPeersActivity" />
        <activity
            android:name=".GetSendPaymentActivity"
            android:parentActivityName=".ListPaymentsActivity" />
        <activity
            android:name=".GetInvoiceActivity"
            android:parentActivityName=".ListInvoicesActivity" />
        <activity
            android:name=".ListContactsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListAppsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListUtxoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListInvoicesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListChannelsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListTransactionsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListPeersActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListPaymentsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".auth.ShareContactActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AddContactPaymentsPrivilegeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AddListContactsPrivilegeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AddAppContactActivity"
            android:exported="true" />
        <activity android:name=".AppConnectActivity">
            <intent-filter>
                <action android:name="org.lndroid.actions.bitcoin.testnet.APP_CONNECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

        <service
            android:name=".Application$IpcService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.lndroid.framework.usecases.bg.BackgroundActivityService$ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>