<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lndroid.wallet">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetWalletInfoActivity"></activity>
        <activity android:name=".ListAppsActivity" />
        <activity android:name=".GetAppActivity" />
        <activity android:name=".GetContactActivity" />
        <activity android:name=".ListContactsActivity" />
        <activity android:name=".GetUtxoActivity" />
        <activity android:name=".ListUtxoActivity" />
        <activity android:name=".ListInvoicesActivity" />
        <activity android:name=".ListChannelsActivity" />
        <activity android:name=".ListTransactionsActivity" />
        <activity android:name=".GetTransactionActivity" />
        <activity android:name=".SendCoinsActivity" />
        <activity android:name=".GetPeerActivity" />
        <activity android:name=".ListPeersActivity" />
        <activity android:name=".PasswordAuthActivity" />
        <activity android:name=".GetChannelActivity" />
        <activity android:name=".OpenChannelActivity" />
        <activity android:name=".NewAddressActivity" />
        <activity
            android:name=".auth.ShareContactActivity"
            android:exported="true" />
        <activity android:name=".ConnectPeerActivity" />
        <activity
            android:name=".auth.AddContactPaymentsPrivilegeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AddListContactsPrivilegeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.AddAppContactActivity"
            android:exported="true" />
        <activity android:name=".AppConnectActivity">
            <intent-filter>
                <action android:name="org.lndroid.actions.bitcoin.testnet.APP_CONNECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListPaymentsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GetSendPaymentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SendPaymentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GetInvoiceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddInvoiceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Application$IpcService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.lndroid.framework.usecases.bg.SendPaymentService$ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>